.vs/

server/package-lock.json

server/node_modules/
client/node_modules/

server/pnpm-lock.yaml
client/pnpm-lock.yaml

client/public/build/*
!client/public/build/.gitkeep
client/tsconfig.tsbuildinfo

server/build/*
!server/build/.gitkeep
server/tsconfig.tsbuildinfo


